._foo_15snw_1 {
  color: yellow;
}

._bar_15snw_5 {
  color: gray;
}

._baz_15snw_9 {
  color: purple;
}._foo_s5uev_1 {
  color: green;
}

._bar_s5uev_5 {
  color: red;
}

._baz_s5uev_9 {
  color: blue;
}